<meta charset="UTF-8" />
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />

<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>

<style>
  body {
    padding-top: 50px;
  }
</style>
